body {
    width: 600px;
    margin: 0 auto;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: #ffffff;
}
p {
    color: #ffffff;
}

form {
    margin: 100px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 60px;
    text-align: center;
}
label, input[type=submit] {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
}
input[type=text], input[type=password] {
    width: 300px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
input[type=submit] {
    margin: 30px auto;
    padding: 5px 20px;
    border-radius: 10px;
    /*登陆背景框*/
    background-color: #2985e2;
    /*登陆按钮*/
    color: #f8f6f6;
    cursor: pointer;
}
input[type=button] {
    margin: 30px auto;
    padding: 5px 20px;
    border-radius: 10px;
    /*登陆背景框*/
    background-color: #2985e2;
    /*登陆按钮*/
    color: #f8f6f6;
    cursor: pointer;
}